body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-image: url('./bg.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home {
  height: 500px;
  width: 1000px;
  color: #0e0d0d;
}

.container-workspace {
  height: 700px;
  width: 1000px;
  color: #0e0d0d;
}

.h-60 {
  height: 60px;
}

.h-80 {
  height: 80px;
}

.h-540 {
  height: 540px;
}

.h-560 {
  height: 560px;
}

.h-600 {
  height: 600px;
}

.h-640 {
  height: 640px;
}

.h-700 {
  height: 700px;
}

.w-200 {
  width: 200px;
}

.w-350 {
  width: 350px;
}

.w-650 {
  width: 650px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-t-120 {
  padding-top: 120px;
}

.m-t-5 {
  margin-top: 5px;
}